* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-image: linear-gradient(to top, #307dd0 0%, #330867 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.title {
  font-family: 'Leckerli One', cursive;
  font-size: 3.5rem;
  text-align: center;
  color: #fff;
  padding: 0.75rem;
  text-shadow: 0.0625rem 0.125rem 0.125rem #000;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8em;
}

#main {
  width: 100%;
  height: 35em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#container {
  display: flex;
  flex-wrap: wrap;
  height: 28em;
  width: 28em;
  background-color: #ffffff;
  box-shadow: 0px 0.0625em 0em 0.75em black;
  border-radius: 0.3125em;
}

#buttons-group {
  width: 20em;
  height: 28em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  font-family: 'Silkscreen', cursive;
  color: lime;
  width: 10em;
  font-weight: 800;
  height: 4.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.398em;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  border: none;
  background-color: transparent;
  border: 0.125em solid #fff;
  font-weight: 100;
  outline: none;
  transition-property: background-color, color, transform, letter-spacing, width,
    border;
  transition-duration: 0.223s;
}

.btn:hover {
  width: 16rem;
  background-color: #1e1d13f4;
  color: #fff;
  transform: skewX(-5deg);
  outline: none;
  letter-spacing: 0.025em;
  border: none;
  color: #ffffff;
  font-weight: bold;
}

.btn:focus {
  background-color: yellow;
  color: black;
  border: 0.125em solid #000;
}

.material-symbols-outlined {
  font-size: 3rem !important;
}

.square {
  border: 0.01875em solid #cdcccc;
  cursor: pointer;
}

#footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
}

#footer > * {
  text-decoration: none;
  font-size: 3.5rem;
  color: #fff;
}

.fa-brands:hover {
  color: #050211;
  transform: scale(1.2);
}

.not-allowed {
  cursor: not-allowed;
}

.crosshair {
  cursor: crosshair;
}

@media (min-width: 768px) and (max-width: 1199px) {
  html,
  body {
    overflow-y: auto;
  }
  #main {
    height: 24em;
  }

  #container {
    height: 19em;
    width: 19em;
    box-shadow: none;
  }

  #buttons-group {
    height: 19em;
  }

  .btn {
    height: 3em;
    width: 10em;
    font-size: 1em;
    transition-property: background-color, color, transform, letter-spacing,
      width, border;
    transition-duration: 0.223s;
  }
  .btn:hover {
    width: 12em;
    background-color: #1e1d13f4;
    color: #fff;
    transform: skewX(-5deg);
    outline: none;
    letter-spacing: 0.025em;
    border: none;
    color: #ffffff;
    font-weight: bold;
  }

  .material-symbols-outlined {
    font-size: 2rem !important;
  }
}
@media (max-width: 767px) {
  html,
  body {
    overflow-y: auto;
  }
  .title {
    font-size: 3rem;
  }

  #main {
    height: 65em;
  }
  #buttons-group {
    margin-top: 3em;
    height: 30em;
  }
  .btn {
    width: 10em;
    height: 3em;
  }

  #footer {
    position: relative;
    bottom: 0;
  }
}


@media (max-width: 480px) {
  html,
  body {
    overflow-y: scroll;
    height: 100%;
  }

  .btn {
    height: 3em;
    width: 10em;
    /* font-size: 1.3em; */
    transition-property: background-color, color, transform, letter-spacing,
      width, border;
    transition-duration: 0.223s;
  }
  .btn:hover {
    width: 12em;
    background-color: #1e1d13f4;
    color: #fff;
    transform: skewX(-5deg);
    outline: none;
    letter-spacing: 0.025em;
    border: none;
    color: #ffffff;
    font-weight: bold;
  }

  .material-symbols-outlined {
    font-size: 3rem !important;
  }

  #main {
    height: 55em;
  }

  #container {
    height: 18em;
    width: 18em;
  }

  #buttons-group {
    height: 35em;
  }

  .material-symbols-outlined {
    font-size: 2.5rem !important;
  }
  #footer {
    position: relative;
    bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  #footer {
    position: absolute;
  }
}
