* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  background-image: linear-gradient(to top, #307dd0 0%, #330867 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#header {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Leckerli One', cursive;
  font-size: 3.5rem;
  text-align: center;
  color: #fff;
  padding: 0.75rem;
  text-shadow: 0.0625rem 0.125rem 0.125rem #000;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

#main {
  height: 65%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4em;
}

#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 15em;
  width: 15em;
  background-color: #ffffff;
  box-shadow: 0px 0.0625em 0em 0.75em black;
  border-radius: 0.3125em;
  margin-bottom: 4em;
}

#buttons-group {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
  margin-bottom: 2em;
}

#change-grid.btn,
.btn {
  font-family: 'Silkscreen', cursive;
  width: 14em;
  height: 3.5em;
  font-size: 1rem;
  padding: 0.5rem 0.6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.398em;
  cursor: pointer;
  color: #ffffff;
  background-color: transparent;
  border: 0.125em solid #fff;
  font-weight: 100;
  outline: none;
  transition-property: background-color, color, transform, letter-spacing, width,border;
  transition-duration: 0.223s;
}

.btn:hover {
  width: 14.5rem;
  background-color: #1e1d13f4;
  color: #fff;
  transform: skewX(-5deg);
  outline: none;
  letter-spacing: 0.025em;
  font-weight: bold;
}

.btn:focus, #change-grid:focus {
  background-color: yellow;
  color: black;
  border: 0.125em solid #000;
}

.material-symbols-outlined {
  font-size: 2rem !important;
}

.square {
  border: 0.01875em solid #cdcccc;
  cursor: pointer;
}

#footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 0;
}

#footer > * {
  text-decoration: none;
  font-size: 3.5rem;
  color: #fff;
}

.fa-brands {
  font-size: 2.5rem;
}

.fa-brands:hover {
  color: #050211;
  transform: scale(1.2);
}

.not-allowed {
  cursor: not-allowed;
}

.crosshair {
  cursor: crosshair;
}
